html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
:root {
  --White: #ffffff;
  --Black: #000000;
  --BravesNavy: #13274f;
  --Red: #df0109;
  --Silver: #c0c0c0;
}
.dark {
  --primary: var(--BravesNavy);
  --secondary: var(--Silver);
  --teritary: var(--White);
}
.light {
  --primary: var(--Red);
  --secondary: var(--White);
}
body {
  background-color: var(--primary);
}
.Front-Page {
  background-image: url("https://res.cloudinary.com/turtlerules/image/upload/c_scale,q_auto:best,w_1400/v1655088884/Ultraman%20Photos/ultraman-america_hg8lha.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  width: 100%;
}

header {
  position: fixed;
  background-color: var(--primary);
  width: 100%;
  height: 7rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1rem;
  border-color: var(--secondary);
  z-index: 1000;
}
h1 {
  margin-left: 2rem;
  color: var(--secondary);
  border-width: 1rem;
  font-size: 5rem;
  padding: 1rem;
  background-color: var(--primary);
  border-color: var(--secondary);
  text-align: center;
}
h2 {
  text-align: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: var(--primary);
  font-size: 4rem;
  color: var(--secondary);
}
p {
  background-color: var(--primary);
  font-size: 2rem;
  padding: 2.5rem;
  margin: 2rem;
  color: var(--secondary);
}
.buttons {
  background-color: var(--primary);
  height: 7rem;
  justify-content: center;
}
.btn {
  font-size: 2rem;
  text-align: right;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 2rem;
  border-color: var(--secondary);
}
.Eiji-Tsuburaya {
  margin-top: 7rem;
  background-image: url("https://res.cloudinary.com/turtlerules/image/upload/v1655088888/Ultraman%20Photos/ultraman-rise_yjvvca.gif");
  /* Bgimage should fade after the beginning animation ~3secs*/
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1.25rem;
  border-color: var(--primary);
}
.each-card2 {
  margin: 1.7rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.display-img1 {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.p1 {
  width: 50rem;
  height: 70rem;
  align-self: center;
}

.display-img2 {
  max-width: 100%;
  max-height: 60rem;
  align-self: center;
}
.Iconic-Series {
  margin-top: 7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1.25rem;
  border-color: var(--primary);
}
.each-card3 {
  margin: 1.7rem;
  justify-content: right;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.p2 {
  margin-right: 5rem;
  width: 60rem;
  text-align: center;
}
.display-img3 {
  max-width: 100%;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}
.Hideaki-Anno {
  margin-top: 7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1.25rem;
  border-color: var(--primary);
}
.each-card4 {
  margin: 1.7rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.p3 {
  width: 60rem;
}
.display-img4 {
  max-width: 100%;
  height: auto;
}
.display-img5 {
  margin-top: 5rem;
  max-width: 100%;
  height: auto;
}
.Latest-Projects {
  margin-top: 7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1.25rem;
  border-color: var(--primary);
}
.each-card5 {
  margin: 1.7rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.images3 {
  width: 100%;
}
.display-img6 {
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}
.display-img7 {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}
.display-img8 {
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}
img{
  transform: scale(1);
  transition: all 0.2s;
}
img:hover{
  transform: scale(1.05);
  transition: all 0.2s;
  z-index: 1;
}
